{#
/**
 * @file
 * Theme for Tweets module's block.
 *
 * Available variables:
 * - username: Twitter username for block
 * - tweets: A list of tweets
 *
 * @ingroup themeable
 */
#}
<div class="username">Tweets for {{ username|raw }}</div>
<ul>
  {% for tweet in tweets %}
    <li>
      <p class="tweet-text">{{ tweet.text|raw }}</p>
      <p class="tweeet-date">{{ tweet.created_at|date("M dS Y") }}</p>
      <p class="tweet-username">{{ tweet.user.name }}</p>
    </li>
  {% endfor %}
</ul>
<div class="more">{{ more }}</div>
